<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="SIlet logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Suscribirse</p>
			<p>Entérese de las novedades suscribiéndose a nuestra lista de correo-e.</p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Silet</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Inicio</a></li>
					<li><a href="/products" class="link">Proyectos</a></li>
					<li><a href="/values" class="link">Valores</a></li>
					<li><a href="/post" class="link">Notas</a></li>
					<li><a href="/contact" class="link">Contacto</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Para encontrarnos</h3>
				<ul class="mb3">
					<li><a href="/contact" class="link">Haga un cita y visítenos</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Redes sociales</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>
<small>
Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</small>
</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
